.navbar-area {
  grid-area: navbar;
  width: max-content;
  padding-left: 2.5rem;
  padding-top: 2rem;
  margin-left: 1rem;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  height: 80vh;
  /* border: 1px solid; */
}
.nav-links .nav-items {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
#home {
  padding-bottom: 0.5rem;
}
#explore {
  padding-bottom: 0.5rem;
}

#bookmark {
  padding-bottom: 0.5rem;
}

.nav-home:hover,
.nav-explore:hover,
.nav-bookmark:hover,
.nav-profile:hover {
  font-weight: 700;
}

.create-post-btn {
  width: 12rem;
  background-color: #2979ff;
  color: #ffffff;
  outline: 0.1rem solid transparent;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem;
}

.user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username-profile-link {
  display: flex;
}

.profile-pic {
  background-color: #9a9a9a;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}

.user-data {
  display: flex;
  flex-flow: column wrap;
  margin-left: 0.5rem;
  text-decoration: none;
}
.name {
  font-weight: 700;
  text-decoration: none;
}
.username {
  font-weight: 300;
  color: #9a9a9a;
  text-decoration: none;
}
.create-post-btn {
  cursor: pointer;
}
