.signup-page {
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 16px;
  text-align: center;
}

.signup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  margin-bottom: 100px;
  justify-content: stretch;
  background-color: #ffffff;
  padding: 2rem;
  width: 20rem;
  border-radius: 1rem;
  border: none;
  margin-bottom: 1rem;
}

.signup-title {
  margin-bottom: 1rem;
}

.signup-items {
  margin: 0.25rem;
}
.signup-submit {
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
